* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  background: #131313;
  position: relative;
  font-family: "Inter", sans-serif;
}
main {
  max-width: 1920px;
  margin: 0 auto;
}

.information-section {
  width: 100%;
  background: radial-gradient(
      31.12% 50% at 50% 50%,
      rgba(50, 50, 50, 0.93) 0%,
      rgba(19, 19, 19, 0.93) 100%
    ),
    url(/images/black-marbled-surface\ 1.png),
    linear-gradient(0deg, rgba(19, 19, 19, 0.86), rgba(19, 19, 19, 0.86)),
    url(/images/tiled-stones\ 1.png);
}

.content-section {
  margin: 229px auto 131px;
  width: 1190px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      258.51deg,
      rgba(34, 34, 34, 0.78) 2.87%,
      rgba(38, 38, 38, 0.78) 19.11%,
      rgba(34, 34, 34, 0.78) 22.07%,
      rgba(19, 19, 19, 0.78) 71.8%,
      rgba(19, 19, 19, 0.78) 97.4%
    ),
    url(/images/black-marbled-surface\ 1.png);
  border: 14px solid #cccccc;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.42);
  border-radius: 40px;
}

.content-section-name {
  font-weight: bold;
  font-size: 96px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ececec;
  margin: 169px auto 0;
}

.content-section-description {
  max-width: 568px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #797979;
  margin: 18px auto 0;
}
.scroll-btn {
  background: #b53e3e;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  border: none;
  margin: 80px auto 94px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #ececec;
  letter-spacing: 0.02em;
}
button:hover {
  cursor: pointer;
  filter: brightness(120%);
  box-shadow: 4px 2px 5px #000;
}

.choice-section {
  /* height: 1550px; */
  width: 100%;
  background: linear-gradient(180deg, rgba(19, 19, 19, 0.92) 0%, #131313 61.15%),
    url(/images/black-marbled-surface\ 1.png);
}

.choice-section-name {
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ececec;
  margin: 99px auto 0;
}

.description {
  width: 1230px;
  margin: 76px auto 0;
}

.description-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h3 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #797979;
  margin-bottom: 24px;
}
span {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #797979;
  margin-bottom: 30px;
}
.active-name h3 {
  color: #ececec;
}
.active-name span {
  color: #b53e3e;
}

hr {
  opacity: 0.5;
  border: 2px solid #c5c5c5;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76);
}

.next-section-btn {
  background: #b53e3e;
  border-radius: 8px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  margin: 0 auto 105px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ececec;
}

.slider-wrap {
  display: block;
  transition: opacity 1s linear, visibility 1s linear;
}

.slider {
  position: relative;
  margin: 60px auto;
  width: 1230px;
}
.slider-container {
  width: 1370px;
  display: flex;
  position: relative;
  justify-content: space-between;
  left: 0;
  transition: all ease 1s;
}

.slider-items {
  width: 1020px;
  margin: 0 auto;
  overflow: hidden;
  height: 496px;
}

.arrowLeft {
  position: absolute;
  top: 181px;
  left: 0;
  width: 45px;
  height: 45px;
  background: url("/images/arrow-left.png") no-repeat;
  cursor: pointer;
}
.arrowRight {
  position: absolute;
  display: block;
  top: 181px;
  right: 0;
  width: 45px;
  height: 45px;
  background: url("/images/arrow-left.png") no-repeat;
  cursor: pointer;
  transform: rotate(-180deg);
}

.arrowLeft:hover,
.arrowRight:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.76));
  border-radius: 6px;
}

.slider-item {
  position: relative;
  width: 320px;
  height: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-img-wrap {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.item-img {
  height: 400px;
}
.item-img-wrap:hover {
  border: 7px solid #ececec;
  box-sizing: border-box;
  box-shadow: 0px 0px 33px rgba(255, 255, 255, 0.76);
  border-radius: 10px;
  cursor: pointer;
}
.item-name {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ececec;
  margin: 24px 0 12px 0;
}

.item-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #b53e3e;
}

.section-size {
  width: 100%;
}
.product-wrap {
  display: none;
}

.product {
  margin: 70px auto 0;
  width: 1020px;
  display: flex;
  justify-content: space-between;
}

.product-img {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: center;
}

.product-img-container {
  width: 320px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.product-img img {
  height: 400px;
}
.product-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 33px 0 12px;
}

.product-img-forma {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ececec;
  padding: 0;
  margin: 0;
}
.product-img-forma-name {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #b53e3e;
}
.product-price {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ececec;
}
.product-price-number {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #b53e3e;
}

.product-hr {
  width: 100%;
  opacity: 0.1;
  border: 2px solid #c5c5c5;
  padding: 0;
  margin: 0;
}

.product-hr:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76);
}

.product-description {
  width: 600px;
}

.product-description-name {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.product-description-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #797979;
  margin: 24px 0 0 0;
}

.product-height {
  width: 100%;
}

.product-height-name {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin: 40px 0 32px;
}

.product-width {
  width: 100%;
  margin: 48px 0;
}

.product-width-name {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin: 48px 0 32px;
}

.slider-height-product,
.slider-width-product {
  position: relative;
  width: 600px;
}

#minValue-height,
#minValue-width {
  position: absolute;
  bottom: 19px;
  left: 0;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #797979;
}

#maxValue-height,
#maxValue-width {
  position: absolute;
  bottom: 19px;
  right: 0;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #797979;
}

#range-height,
#range-width {
  margin: 42px 0 0;
}

#output-height,
#output-width {
  display: none;
  position: absolute;
  text-align: center;
  left: -36px;
  top: -42px;
  padding: 10px 10px;
  width: 87px;
  height: 41.49px;
  background: #222222;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.23);
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ececec;
}

#output-height::after,
#output-width::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: calc(50% - 7px);
  top: 100%;
  border-left: 7px solid transparent;
  border-top: 10px outset #cccccc;
  border-right: 7px solid transparent;
}

#range-height {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #797979;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
}
#range-height::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ececec;
}
#range-height:hover::-webkit-slider-thumb,
#range-height:hover::-moz-range-thumb {
  box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.66);
  cursor: pointer;
}

#range-height::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ececec;
}

#output-width {
  top: -43px;
}

#range-width {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #797979;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
}
#range-width::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ececec;
}
#range-width:hover::-webkit-slider-thumb,
#range-width:hover::-moz-range-thumb {
  box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.66);
  cursor: pointer;
}

#range-width::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ececec;
}

.section-size-btn {
  margin-top: 60px;
  margin-bottom: 0;
}

/****************************************************************/
@media (min-width: 768px) and (max-width: 1217px) {
  main {
    width: 768px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .content-section {
    margin: 118px auto 101px;
    width: 100%;
  }

  .content-section-name {
    margin: 64px auto 0;
  }

  .content-section-description {
    margin: 16px auto 0;
  }
  .description {
    width: 100%;
  }

  .slider {
    width: 100%;
  }

  .slider-container {
    width: 1260px;
  }
  .slider-items {
    width: 620px;
  }
  .slider-item {
    width: 300px;
  }

  .item-img-wrap {
    width: 300px;
  }

  .product {
    width: 100%;
  }

  .product-description {
    width: 380px;
  }
  .product-height {
    width: 100%;
  }
  .product-width {
    width: 100%;
  }

  .slider-height-product,
  .slider-width-product {
    width: 100%;
  }
}

/* ************************************************************/
@media (min-width: 320px) and (max-width: 767px) {
  main {
    width: 320px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .content-section {
    margin: 118px auto 101px;
    padding: 0 10px;
    width: 100%;
    border: 10px solid #ccc;
  }

  .content-section-name {
    font-size: 36px;
    margin: 64px auto 0;
  }

  .content-section-description {
    margin: 16px auto 0;
    font-size: 14px;
  }

  .scroll-btn {
    margin: 24px auto 57px;
    font-size: 14px;
    line-height: 140%;
  }

  .description {
    width: 100%;
  }

  .choice-section-name {
    font-size: 24px;
    margin: 101px 0 40px;
  }

  .slider {
    width: 100%;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  span {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .next-section-btn {
    margin: 0 auto 90px;
  }

  .slider-container {
    width: 1152px;
  }
  .slider-items {
    width: 288px;
  }
  .slider-item {
    width: 288px;
  }

  .item-img-wrap {
    width: 288px;
    border-radius: 10px;
  }

  .product {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .product-price,
  .product-price-number,
  .product-img-forma,
  .product-img-forma-name {
    font-size: 14px;
  }

  .product-description {
    width: 300px;
  }

  .product-description-name {
    font-size: 20px;
    text-align: center;
    margin: 30px 0 30px;
  }

  .product-description-text {
    font-size: 16px;
    margin: 0 0;
  }

  .product-height {
    width: 100%;
  }

  .product-height-name,
  .product-width-name {
    font-size: 16px;
    margin: 40px 0 10px;
  }

  .product-img {
    width: 288px;
  }
  .product-img-container {
    width: 288px;
    border-radius: 10px;
  }

  .product-description {
    width: 300px;
  }
  .product-height {
    width: 100%;
  }
  .product-width {
    width: 100%;
  }

  .slider-height-product,
  .slider-width-product {
    width: 100%;
  }
}
